<app-menu></app-menu>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="panel panel-primary" style="margin: 40px;">
    <div class="panel-heading">
        <b><h1>Ticket Details</h1></b>
    </div>
    <div class="panel-body">
        <div class="data" style="align-content: center;">
            <dt>Request Type: </dt><dd>{{ticket.requestType}}</dd> <br>
            <dt>Priority: </dt><dd>{{ticket.priority}}</dd> <br>
            <dt>Travel City: </dt><dd>{{ticket.travelCity}}</dd> <br>
            <dt>From Location City: </dt><dd>{{ticket.fromLocation}}</dd> <br>
            <dt>Travel Start Date: </dt><dd>{{ticket.startDate | date}}</dd> <br>
            <dt>Travel End Date: </dt><dd>{{ticket.endDate | date}}</dd> <br>
            <dt>Passport Number: </dt><dd>{{ticket.passportNo}}</dd> <br>
            <dt>Project Name: </dt><dd>{{ticket.projectName}}</dd> <br>
            <dt>Expense Borne by: </dt><dd>{{ticket.expenseBornBy}}</dd> <br>
            <dt>Travel Approver Name: </dt><dd>{{ticket.travelApproverName}}</dd> <br>
            <dt>Expected Duration of Travel: </dt><dd>{{ticket.expectedDuration}}</dd> <br>
            <dt>Any upper bound on the allowed amount: </dt><dd>{{ticket.maxAllowedAmount}}</dd> <br>
            <dt>Any additional details: </dt><dd>{{ticket.additionalDetails}}</dd> <br>
            <dt>Submitted Date: </dt><dd>{{ticket.submitDate | date}}</dd> <br>
            <dt>Status: </dt><dd>{{ticket.status}}</dd> <br>
            <dt>Comment: </dt><dd>{{ticket.commentByAdmin}}</dd> <br>
        </div>
        <br>
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="updateTicketDetails(f)" novalidate>
            
            <div class="example-container">
                <mat-form-field appearance="fill" style="display: inline;">
                  <mat-label>Change Status</mat-label>
                  <mat-select name="updatedStatus" ngModel>
                    <mat-option value="In Process">In Process</mat-option>
                    <mat-option value="Approved">Approved</mat-option>
                    <mat-option value="Rejected">Rejected</mat-option>
                  </mat-select>
                </mat-form-field>
              
                <mat-form-field appearance="fill" style="display: inline;">
                  <mat-label>Comments</mat-label>
                  <textarea matInput  name="updatedComment" ngModel></textarea>
                </mat-form-field>
              </div>

            <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="fileUpload" ngModel aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div> -->

            <label class="btn btn-default">
                <input type="file" (change)="selectFile($event)" />
            </label>
            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
                Upload
            </button>

            <div class="form-group">
                <input style="width: 100px; margin: 20px;" type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
            </div>
        </form> 
    </div>
    
    <div class="panel-footer">
        <!-- <div class="form-group">
            <button>Print</button> 
            <button (click)="editTicket()">Edit</button> 
            <button (click)="returnHomePage()">Return to home page</button>
        </div> -->
    </div>
</div>